@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
 *{
   margin: 0;
   padding:0; 
   font-family:'Poppins',sans-serif;

 } 
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #091921;
}

.calculator2
{
	position: relative;
	display: grid; 
}

.calculator2 .value
{
   grid-column: span 4;
   height: 100px;
   text-align: right;
   border: none;
   outline: none;
   padding: 10px;
   font-size: 18px;

}

.calculator2 span
{

	display: grid;
	width: 60px;
	height: 60px;
	color: #fff;
	background: #0c2835;
	place-items:center;
	border: 1px solid rgba(0,0,0,.1);

}
.calculator2 span:active{
   background: #74ff3b;
   color: #111;
  }
.calculator2 span.clear{
     grid-column: span 2;
     width: 120px;
     background: #ff3077;
}
.calculator2 span.plus{
     grid-row: span 2;
     height: 120px;

}
.calculator2 span.equal{
    background: #03b1ff;
 }
